#  Predicting the revenue

In [828]:
import pandas as pd
from datetime import datetime as dt
import plotly as pl 
from plotly import express as ex
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix, mean_squared_error, r2_score
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA

In [829]:
data = pd.read_csv("../data/data.csv", index_col = 0)

In [830]:
data #had to drop 30% of the data because of revenue missing values

,budget,popularity,release_date,revenue,runtime,vote_average,vote_count,Action,Adventure,Animation,...,Columbia Pictures,Twentieth Century Fox Film Corporation,New Line Cinema,Walt Disney Pictures,Village Roadshow Pictures,Miramax Films,United Artists,Columbia Pictures Corporation,DreamWorks SKG,Warner Bros.
0,237000000.0,150.437577,2009-12-10,2.787965e+09,162.0,7.2,11800.0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
1,300000000.0,139.082615,2007-05-19,9.610000e+08,169.0,6.9,4500.0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
2,245000000.0,107.376788,2015-10-26,8.806746e+08,148.0,6.3,4466.0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
3,250000000.0,112.312950,2012-07-16,1.084939e+09,165.0,7.6,9106.0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,260000000.0,43.926995,2012-03-07,2.841391e+08,132.0,6.1,2124.0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000.0,19.748658,1994-09-13,3.151130e+06,92.0,7.4,755.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4788,12000.0,4.553644,1972-03-12,6.000000e+06,93.0,6.2,110.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4792,20000.0,0.212443,1997-11-06,9.900000e+04,111.0,7.4,63.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4796,7000.0,23.307949,2004-10-08,4.247600e+05,77.0,6.9,658.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4798,220000.0,14.269792,1992-09-04,2.040920e+06,81.0,6.6,238.0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [831]:
#data.release_date = data.release_date.apply(pd.to_datetime)

In [832]:
#data.dtypes

In [833]:
#data['year'] = data["release_date"].dt.year
#data['month'] = data["release_date"].dt.month

In [834]:
data.head()

,budget,popularity,release_date,revenue,runtime,vote_average,vote_count,Action,Adventure,Animation,...,Columbia Pictures,Twentieth Century Fox Film Corporation,New Line Cinema,Walt Disney Pictures,Village Roadshow Pictures,Miramax Films,United Artists,Columbia Pictures Corporation,DreamWorks SKG,Warner Bros.
0,237000000.0,150.437577,2009-12-10,2.787965e+09,162.0,7.2,11800.0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
1,300000000.0,139.082615,2007-05-19,9.610000e+08,169.0,6.9,4500.0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
2,245000000.0,107.376788,2015-10-26,8.806746e+08,148.0,6.3,4466.0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
3,250000000.0,112.312950,2012-07-16,1.084939e+09,165.0,7.6,9106.0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,260000000.0,43.926995,2012-03-07,2.841391e+08,132.0,6.1,2124.0,1,1,0,...,0,0,0,1,0,0,0,0,0,0

In [835]:
y = data.revenue
y.head()

0    2.787965e+09
1    9.610000e+08
2    8.806746e+08
3    1.084939e+09
4    2.841391e+08
Name: revenue, dtype: float64

In [836]:
x = data.drop(columns = ["release_date", "revenue"])
#maybe drop popularity cause movie is already released

In [837]:
x.head()

,budget,popularity,runtime,vote_average,vote_count,Action,Adventure,Animation,Fantasy,Science Fiction,...,Columbia Pictures,Twentieth Century Fox Film Corporation,New Line Cinema,Walt Disney Pictures,Village Roadshow Pictures,Miramax Films,United Artists,Columbia Pictures Corporation,DreamWorks SKG,Warner Bros.
0,237000000.0,150.437577,162.0,7.2,11800.0,1,1,0,1,1,...,0,1,0,0,0,0,0,0,0,0
1,300000000.0,139.082615,169.0,6.9,4500.0,1,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,245000000.0,107.376788,148.0,6.3,4466.0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,250000000.0,112.312950,165.0,7.6,9106.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,260000000.0,43.926995,132.0,6.1,2124.0,1,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [838]:
#pca = PCA(n_components = 10)
#pca.fit(data)

In [839]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1)

In [840]:
#pca = PCA(n_components = 2)
#x_train = pca.fit_transform(x_train) #detecting variables
#x_test = pca.transform(x_test) #reducing variables

#explained_variance = pca.explained_variance_ratio_

In [841]:
#sum(explained_variance)

In [842]:
revenue_model = sklearn.linear_model.LinearRegression()

In [843]:
model_fit = LinearRegression().fit(x_train, y_train)

In [844]:
y_pred = model_fit.predict(x_test)

y_pred

array([ 1.20094592e+08,  3.93008408e+07,  4.01074176e+07,  3.03225774e+08,
        2.15183520e+08,  9.32142909e+07,  3.17793458e+07,  8.81244532e+07,
        5.42824875e+08,  5.34284079e+07,  9.39139383e+07,  1.47762726e+06,
        3.84754007e+07,  7.06985981e+07, -6.27472361e+07,  4.57405360e+08,
        5.94908422e+07, -4.12236320e+06, -1.90414600e+07,  4.42223985e+07,
        2.68655645e+08, -3.78043037e+07,  8.98335645e+07,  1.66820313e+08,
        3.67255023e+08,  4.77461016e+07, -2.06342987e+06,  8.31447803e+07,
        1.61610297e+08,  1.68568404e+07,  6.85837241e+08,  3.14030620e+07,
        1.23556289e+08,  6.76936787e+07,  2.03661725e+08, -1.54032197e+07,
        1.78954010e+08,  1.49401765e+08,  8.89283675e+07,  1.93604646e+08,
        1.41921706e+08,  9.41029768e+07, -6.90010162e+06,  8.01923571e+07,
        1.18715402e+08,  4.06278380e+08, -1.26957151e+07,  2.53299593e+08,
        1.62676613e+08,  1.14825668e+08,  2.80579140e+07,  4.93225875e+07,
        3.40431392e+07,  2.01790433e+08, -4.20981729e+06,  4.43150115e+07,
       -6.62563284e+06,  1.87244688e+08, -1.31531608e+07,  6.76320307e+07,
        1.46952563e+08,  2.10485060e+08,  1.97748978e+07,  2.78929393e+07,
       -2.05317283e+07,  7.94104807e+07,  2.72698832e+06,  3.76538763e+07,
        6.41349675e+07,  3.10190702e+08,  6.20378754e+07,  2.08073437e+08,
       -2.16490768e+07,  8.29002614e+07,  1.13332993e+08,  5.32843036e+08,
        9.29111902e+08,  4.40226475e+08,  9.11806215e+07, -2.70490005e+07,
        1.19486584e+06, -1.88291307e+07, -5.45904775e+05,  2.30959883e+08,
        7.08292760e+07,  2.41615447e+08, -1.13892420e+06,  7.08264364e+07,
        7.66566522e+07, -2.53471289e+07,  6.76772884e+08,  1.84638806e+08,
        2.91665609e+08,  7.82661993e+07,  3.69794670e+08,  6.17759136e+07,
        2.65922605e+07, -1.36602137e+07,  1.87804422e+08,  7.92766015e+07,
        4.55039081e+07,  1.15228259e+08,  1.04239634e+08,  4.26070229e+08,
        3.45778144e+07,  1.05014672e+08, -3.40836734e+07,  1.22773202e+08,
        4.19469829e+08,  5.67181454e+07,  6.93309538e+07,  8.53499874e+07,
        4.66552141e+08,  2.30576324e+07,  8.11651575e+07,  1.08029881e+07,
        6.80141339e+07,  2.48877661e+07,  1.46830424e+08,  1.15708303e+08,
       -3.76734081e+06, -1.52130512e+07,  7.16425351e+07,  5.89809719e+08,
        3.94183086e+08,  1.63824371e+08,  5.29842000e+07, -3.18894131e+06,
        3.16150244e+06,  1.90815234e+08,  1.66793200e+08,  9.36567995e+07,
        2.38383374e+07,  9.26868662e+07,  8.90340064e+06,  1.19878714e+08,
        3.39717362e+07,  2.11340750e+08, -1.68137746e+07,  2.72276691e+08,
        3.00337673e+07,  1.36772657e+08,  3.17023119e+07,  9.11791822e+07,
        2.62238872e+07, -2.52139644e+07, -1.70724906e+06,  1.58894698e+08,
        1.30304723e+08,  1.61153902e+08,  8.37478455e+07,  4.71431460e+07,
        1.46853148e+08,  9.16155092e+07,  1.79778056e+07,  1.35286676e+08,
        6.00037007e+08,  2.93639173e+07,  7.47860658e+07,  2.72303426e+08,
        3.43005584e+08,  3.33915532e+07,  2.06192716e+07,  7.40773085e+06,
        1.10053926e+08,  1.88685946e+08,  8.93432571e+07,  3.29767654e+08,
       -1.25562816e+07,  2.80029876e+07,  8.61752436e+07,  1.45650574e+08,
        7.79809511e+07,  4.58223267e+07,  4.22863152e+08,  9.77808985e+07,
        1.70187235e+08, -2.71098046e+06,  5.13018323e+07,  2.33095465e+08,
       -3.63222539e+07,  5.61086015e+07,  1.30694918e+08,  6.18639290e+07,
        1.06206718e+08,  2.12171265e+08, -2.80658509e+06,  7.04002847e+06,
       -2.05402471e+06,  1.61209856e+08,  6.41964775e+08,  1.26998049e+08,
        4.47645573e+08,  2.92728753e+08,  2.06321078e+07,  1.86126020e+07,
        1.41792710e+08,  3.16082361e+08,  1.69397821e+08,  4.02944785e+08,
        5.44763759e+08,  5.25974245e+07,  6.32821770e+07,  9.45931752e+07,
        4.52199760e+07,  1.57649417e+08,  3.79685179e+07,  1.18831097e+08,
        4.59853152e+08, -2.16492775e+07,  7.67733714e+07,  7.04013840e+07,
        4.40174165e+08,  2.99105427e+07,  4.58467771e+07,  4.55843520e+07,
        1.98686476e+08,  1.89996553e+08,  4.29300282e+07,  3.52987169e+07,
        3.72399557e+08,  5.09283249e+07, -6.97838104e+06,  2.03080539e+07,
        1.57340554e+08,  1.37632712e+08,  7.32713023e+07,  6.92184526e+07,
        1.19867489e+08,  3.16157452e+07,  1.27427863e+07,  3.27797398e+07,
        1.36102299e+08, -7.66692147e+07,  5.12947026e+08,  3.36543920e+07,
        3.89530525e+07, -1.87600379e+06,  4.16245696e+08, -2.02072178e+06,
        1.21307527e+08,  1.58466166e+08, -1.23666937e+07,  2.40823212e+08,
        3.78944042e+07,  1.12203945e+08,  1.23455802e+07,  4.66870369e+06,
        1.40782577e+08,  2.64912948e+07,  6.00600286e+08,  1.31436212e+08,
        7.53521456e+07,  1.36175906e+08,  1.41275196e+08,  1.27159037e+08,
        1.23269106e+08, -6.08425159e+05,  3.27934477e+08,  8.63058347e+06,
        8.86753615e+07,  2.11084128e+08,  3.57138991e+07,  1.20029498e+08,
        4.31526865e+07,  1.16992032e+08,  4.97550129e+07,  7.90744664e+07,
        1.51546050e+07,  2.52339334e+07,  9.78048862e+07,  1.31416030e+08,
        3.81797840e+08,  3.04353846e+07,  6.53936005e+08,  3.89250744e+08,
        1.12104163e+08,  2.56883150e+08,  2.18020765e+08,  2.57184139e+08,
        5.47176644e+07,  6.48726202e+07, -1.60346268e+07,  4.98088083e+07,
        1.29324264e+08,  1.12940103e+08,  3.46127443e+08,  5.48449699e+07,
        1.82004914e+07,  1.78106798e+07,  4.22252870e+07,  6.43286396e+07,
        5.43621956e+07,  9.40005553e+07, -3.87747356e+07, -9.71154491e+06,
        1.08621394e+08, -1.10220981e+07,  2.16420861e+08,  2.86924344e+07,
        7.36466739e+07,  5.65001595e+07,  6.34408366e+07,  8.22161596e+06,
        1.99274809e+08, -4.29852321e+07,  8.73108164e+07, -3.09684158e+06,
        3.31681941e+05,  8.33929921e+07,  7.56910703e+07,  4.47247092e+08,
       -1.58486266e+07, -1.20865961e+07, -3.29771831e+07,  3.15874654e+08,
        1.34865630e+08,  6.94976111e+07,  5.76532233e+08,  3.09112511e+07,
        6.50625309e+08,  2.44413506e+08,  1.22634291e+08])

In [845]:
print('R_squared', r2_score(y_pred, y_test))

R_squared 0.630066654134523

In [846]:
#fig = ex.scatter(x=y_pred, y=y_test)
#fig.show()

# Predicting the score

In [691]:
data_vote = pd.read_csv("../data/data_vote.csv", index_col = 0)
#without revenue and budget because uncorrelated and a lot of missing
#values

In [692]:
data_vote

,popularity,release_date,runtime,vote_average,vote_count,Action,Adventure,Animation,Fantasy,Science Fiction,...,Twentieth Century Fox Film Corporation,New Line Cinema,Walt Disney Pictures,Miramax Films,United Artists,Village Roadshow Pictures,Columbia Pictures Corporation,Warner Bros.,DreamWorks SKG,Fox Searchlight Pictures
0,150.437577,2009-12-10,162.0,7.2,11800.0,1,1,0,1,1,...,1,0,0,0,0,0,0,0,0,0
1,139.082615,2007-05-19,169.0,6.9,4500.0,1,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,107.376788,2015-10-26,148.0,6.3,4466.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,112.312950,2012-07-16,165.0,7.6,9106.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,43.926995,2012-03-07,132.0,6.1,2124.0,1,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,14.269792,1992-09-04,81.0,6.6,238.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4799,0.642552,2011-12-26,85.0,5.9,5.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4800,1.444476,2013-10-13,120.0,7.0,6.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4801,0.857008,2012-05-03,98.0,5.7,7.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4802,1.929883,2005-08-05,90.0,6.3,16.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [693]:
data_vote.release_date = data_vote.release_date.apply(pd.to_datetime)

In [694]:
data_vote['year'] = data_vote["release_date"].dt.year
data_vote['month'] = data_vote["release_date"].dt.month

In [695]:
s = data_vote.vote_average

In [696]:
d = data_vote.drop(columns = ["vote_average", "release_date", "popularity", "vote_count"])

In [697]:
d.head()

,runtime,Action,Adventure,Animation,Fantasy,Science Fiction,Romance,TV Movie,Crime,Thriller,...,Walt Disney Pictures,Miramax Films,United Artists,Village Roadshow Pictures,Columbia Pictures Corporation,Warner Bros.,DreamWorks SKG,Fox Searchlight Pictures,year,month
0,162.0,1,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,2009,12
1,169.0,1,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,2007,5
2,148.0,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2015,10
3,165.0,1,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,2012,7
4,132.0,1,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,2012,3

In [698]:
d_train, d_test, s_train, s_test = train_test_split(d, s, test_size = 0.1)

In [699]:
vote_model = sklearn.linear_model.LinearRegression()

In [700]:
vote_fit = LinearRegression().fit(d_train, s_train)

In [701]:
s_pred = vote_fit.predict(d_test)

s_pred

array([6.26929667, 5.84311427, 5.87962709, 5.95960149, 6.37582367,
       6.04561423, 6.11106096, 6.66478815, 7.21544396, 6.54488214,
       5.76125258, 5.99332804, 5.76138354, 6.09722675, 6.26608745,
       6.81124556, 6.1626427 , 5.57452973, 5.82883013, 6.17907838,
       5.45117891, 5.94965962, 6.1829451 , 5.69486837, 5.31733111,
       5.72306111, 5.67841413, 5.95288363, 5.60720946, 5.59283114,
       5.56829588, 6.21398418, 5.52899566, 6.05763879, 7.33376753,
       6.50950743, 7.24725413, 6.44036143, 5.60199766, 5.8307429 ,
       7.078031  , 6.90237486, 5.68944273, 5.75560296, 7.37715532,
       5.99676048, 5.4251775 , 6.48622982, 6.34585359, 6.17092702,
       5.77232384, 5.60217646, 6.41417119, 6.72666954, 6.52068026,
       5.69601979, 5.85347939, 5.58905605, 5.99916152, 7.42818355,
       6.78180163, 6.63779894, 6.73164837, 5.89944276, 5.16637002,
       5.44473057, 5.44906502, 5.76833267, 6.47482914, 5.74285998,
       5.45691799, 6.2071852 , 6.3999368 , 5.7584694 , 6.15648476,
       6.17922537, 5.93132635, 5.68819725, 5.84323432, 6.83800572,
       6.43375723, 6.83739296, 6.37941052, 5.71581984, 5.7876894 ,
       7.19251961, 6.52365069, 6.0203554 , 6.46950858, 6.05383105,
       6.6252199 , 5.48682409, 7.27556715, 6.81611894, 6.43511875,
       5.85154765, 5.98983924, 7.04949416, 6.91743252, 6.04002225,
       5.98521319, 5.54303164, 5.16994181, 6.94691121, 6.15189968,
       6.6523943 , 5.59095583, 5.86067786, 6.23280266, 6.30802361,
       5.71686893, 6.21417031, 5.99457257, 5.78279015, 5.90316877,
       6.36474899, 6.23515016, 5.45083295, 6.83661362, 6.1331957 ,
       7.07423784, 5.65690315, 5.43302294, 6.41763942, 7.05702451,
       5.69330273, 5.68213854, 5.86523396, 5.57046389, 5.79521465,
       6.59384697, 6.44408779, 5.252244  , 6.10148551, 5.42226286,
       6.62481373, 5.89286945, 6.49252685, 6.56531345, 6.24705964,
       6.25859081, 6.09924253, 6.05350566, 6.01987445, 6.72508878,
       7.19550153, 7.83836462, 5.89600793, 5.59868044, 5.8567826 ,
       5.66163842, 7.24530992, 5.70746814, 6.16658584, 6.25217864,
       6.0581649 , 5.55817507, 7.33224244, 5.84386329, 5.9999812 ,
       5.72779072, 5.64069482, 5.82234306, 6.27773651, 5.84187437,
       5.95448806, 6.36009129, 6.80673566, 6.00145781, 6.49546201,
       6.3213394 , 6.46679701, 6.1225266 , 7.26499505, 5.86991646,
       5.71839828, 5.38871589, 6.84413321, 6.08259241, 7.03719129,
       6.03147858, 5.64822402, 7.13613454, 6.9022844 , 6.56826653,
       5.81997946, 5.72143633, 6.29378212, 6.23229306, 6.51923535,
       6.62010226, 6.3267647 , 7.12802522, 6.44140528, 6.10637392,
       6.08269205, 5.75331805, 5.94649582, 5.64076743, 6.50787082,
       5.88525584, 6.60229874, 5.83407766, 5.7762271 , 6.13742875,
       6.07571032, 6.28282581, 6.55087856, 5.33297524, 6.89176449,
       5.5315491 , 6.07915517, 6.61009443, 6.92565017, 6.42067406,
       6.64266735, 6.80839628, 6.46798245, 5.34633575, 5.33558731,
       5.87469905, 6.08417232, 5.92747424, 6.23588672, 6.06286215,
       6.38378627, 6.27656618, 6.56250672, 6.25904583, 6.73262878,
       3.62449085, 6.27933538, 6.09934221, 5.35294062, 7.25232331,
       5.68104348, 6.31578646, 5.8460983 , 6.1557987 , 6.0055061 ,
       6.03202493, 7.03169689, 6.99695395, 6.25802067, 6.867076  ,
       5.4746095 , 6.22687901, 5.94358585, 5.73018397, 6.07302456,
       7.2383704 , 5.06681852, 5.53892608, 6.57821801, 6.65023279,
       5.73714905, 5.92997185, 6.45251731, 6.23904791, 5.30897009,
       5.45440819, 7.31981207, 6.25897884, 6.3601944 , 6.15759612,
       6.89910453, 5.67384308, 5.5422782 , 6.09688612, 5.97869673,
       5.90634869, 6.34873249, 7.9351939 , 6.16044613, 5.70893287,
       5.65224591, 6.54775091, 6.67950127, 5.64819905, 6.73962096,
       5.81158571, 6.30985125, 6.63023199, 5.85020296, 5.73773   ,
       5.45320803, 5.83563188, 6.66717642, 5.76807612, 5.6002592 ,
       6.65118425, 5.2375276 , 6.94142149, 7.48255805, 5.99284422,
       5.55621214, 6.84107865, 7.15986031, 6.70295228, 7.08430103,
       5.41729575, 7.07166205, 5.54505644, 6.00471586, 6.36981579,
       6.36259271, 5.48575762, 6.14315566, 6.13572843, 6.52448164,
       5.86838473, 5.65032383, 6.29686596, 5.70282224, 7.47093654,
       6.15455552, 6.53247566, 5.52721902, 6.83486952, 6.17976349,
       5.37249799, 6.12845489, 5.51311292, 5.80282468, 6.68358257,
       5.73943948, 6.38704178, 6.9997378 , 5.99173326, 6.23489577,
       5.74205683, 6.40934199, 6.1072343 , 6.52166869, 5.71175651,
       5.62148024, 5.48446442, 5.76499468, 6.06240329, 6.15833167,
       6.67118392, 5.73400502, 5.91452613, 6.4820199 , 6.55733471,
       5.89868433, 7.05794498, 5.59953872, 6.1546363 , 5.98169062,
       6.23816776, 5.75757265, 6.63321987, 5.43361341, 6.17861787,
       5.49075716, 6.30630775, 5.69001116, 6.37243572, 5.58875309,
       6.36352111, 7.10894897, 4.90775015, 6.01915116, 6.22967702,
       5.53842706, 6.64499648, 6.25175742, 5.42439624, 5.08195086,
       5.83879487, 5.9663719 , 5.57688276, 5.66576337, 5.88450509,
       6.36823966, 6.08955297, 6.04692221, 5.5848101 , 6.43393671,
       6.23156638, 6.18240222, 6.14270213, 6.53061239, 5.72058956,
       6.50292186, 5.99787248, 5.88304416, 6.84265763, 5.79305797,
       5.49720359, 5.51674251, 6.4785764 , 5.09162059, 5.64520464,
       5.90252005, 5.86134524, 6.17645732, 5.85395829, 6.14177017,
       6.24424467, 6.76515857, 6.87233787, 6.20992989, 5.83646401,
       6.66496221, 6.21045093, 5.31260606, 8.9533881 , 6.53533481,
       6.28319812, 6.39911686, 6.37138562, 6.81885574, 6.09609955,
       6.43056957, 5.31873789, 6.23087434, 7.53922532, 6.20588583,
       6.23312914, 6.26350282, 5.53216614, 5.67215103, 5.55120069,
       5.60737437, 5.9823161 , 6.1526099 , 6.29083189, 6.43934016,
       5.72785214, 6.05128817, 6.17113691, 6.07214425, 6.30745809,
       5.40303911, 5.75218199, 6.31090979, 6.43299203, 5.83390479,
       6.29457507, 5.39337135, 6.31900669, 5.58357829, 6.05199392,
       5.59317571, 5.98665549, 6.52316306, 5.71349467, 6.12602139,
       6.64478345, 5.96294294, 6.21805546, 5.87523323, 5.95901398,
       7.69448058, 6.22285329, 5.88820849, 6.82915877, 7.87619668,
       5.34981519, 5.69182175, 5.77442776, 5.91589815, 5.58412027,
       6.63073752, 6.13698261, 6.89919396, 7.96555433, 5.72555331,
       5.828451  , 6.44094088, 6.39911335])

In [702]:
#pca = PCA(n_components = 2)
#d_train = pca.fit_transform(d_train) #detecting variables
#d_test = pca.transform(d_test) #reducing variables

#explained_variance = pca.explained_variance_ratio_

In [703]:
#sum(explained_variance)

In [1]:
#print('R_squared', r2_score(s_pred, s_test))

# Logistic Regression: Bonus: Good or bad movie?

Classifying movies according to their vote_average to see if they're good or not. If the average is higher than 6.5 then the movie is good, if not, the movie is bad.

In [705]:
vote_list = list(data_vote.vote_average)

In [706]:
vote_dummy = []
for i in vote_list: 
    if i > 7: 
        vote_dummy.append(1)
    else:
        vote_dummy.append(0)

In [707]:
data_vote["vote_dummy"] = pd.DataFrame(vote_dummy)

In [708]:
data_vote = data_vote.query("vote_dummy == 0 or vote_dummy == 1")

In [709]:
data_vote.head()

,popularity,release_date,runtime,vote_average,vote_count,Action,Adventure,Animation,Fantasy,Science Fiction,...,Miramax Films,United Artists,Village Roadshow Pictures,Columbia Pictures Corporation,Warner Bros.,DreamWorks SKG,Fox Searchlight Pictures,year,month,vote_dummy
0,150.437577,2009-12-10,162.0,7.2,11800.0,1,1,0,1,1,...,0,0,0,0,0,0,0,2009,12,1.0
1,139.082615,2007-05-19,169.0,6.9,4500.0,1,1,0,1,0,...,0,0,0,0,0,0,0,2007,5,0.0
2,107.376788,2015-10-26,148.0,6.3,4466.0,1,1,0,0,0,...,0,0,0,0,0,0,0,2015,10,0.0
3,112.312950,2012-07-16,165.0,7.6,9106.0,1,0,0,0,0,...,0,0,0,0,1,0,0,2012,7,1.0
4,43.926995,2012-03-07,132.0,6.1,2124.0,1,1,0,0,1,...,0,0,0,0,0,0,0,2012,3,0.0

In [710]:
x = data_vote.drop(columns = ["vote_average", "release_date", "popularity", "vote_count"])

In [711]:
x.head()

,runtime,Action,Adventure,Animation,Fantasy,Science Fiction,Romance,TV Movie,Crime,Thriller,...,Miramax Films,United Artists,Village Roadshow Pictures,Columbia Pictures Corporation,Warner Bros.,DreamWorks SKG,Fox Searchlight Pictures,year,month,vote_dummy
0,162.0,1,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,2009,12,1.0
1,169.0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2007,5,0.0
2,148.0,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2015,10,0.0
3,165.0,1,0,0,0,0,0,0,1,1,...,0,0,0,0,1,0,0,2012,7,1.0
4,132.0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,2012,3,0.0

In [712]:
y = data_vote.vote_dummy

In [713]:
pca = PCA(n_components = 10)
x_train = pca.fit_transform(x_train) #detecting variables
x_test = pca.transform(x_test) #reducing variables

explained_variance = pca.explained_variance_ratio_

In [714]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [715]:
vote_model = sklearn.linear_model.LogisticRegression()

In [716]:
model_fit = LogisticRegression().fit(x_train, y_train)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning:

Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.

In [717]:
y_pred_test = model_fit.predict(x_test)
#y_pred_test
cm = confusion_matrix(y_test, y_pred_test)

In [718]:
cm

array([[769,   0],
       [  0, 161]])

In [719]:
acc = (612+0)/(612+0+0+318)
acc

0.6580645161290323

In [675]:
precision = precision_score(y_test, y_pred_test)
recall = recall_score(y_test, y_pred_test)
f1score = f1_score(y_test, y_pred_test)

In [676]:
precision

1.0

In [629]:
recall

1.0

In [584]:
f1score

1.0

# K-Nearest Neighbours

In [587]:
kn_model = KNeighborsClassifier(n_neighbors=3).fit(x_train, y_train)

In [588]:
y_pred = kn_model.predict(x_test)

In [589]:
confusion_matrix(y_test, y_pred)

array([[447, 165],
       [205, 113]])

In [592]:
acc = (447 + 165)/(205 + 113 + 447 + 165)
acc

0.6580645161290323

In [593]:
precision = precision_score(y_test, y_pred_test)
recall = recall_score(y_test, y_pred_test)
f1score = f1_score(y_test, y_pred_test)

In [594]:
precision

1.0

In [595]:
recall

1.0

In [596]:
f1score

1.0